<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <title>Hotels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar bg-secondary text-light">
    <div class="container-fluid">
        <img height="35rm" width="35rm" class="rounded" src="https://static.vecteezy.com/system/resources/previews/036/594/092/non_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg" alt="pfp">
        <h4 sec:authentication="name"></h4>
        <div class="btn-group">
            <a href="/myrooms" class="btn btn-warning">My bookings</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <h1 class="text-center"><span sec:authentication="name"></span>'s Bookings</h1>
    <table class="table table-light table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th scope="col">Room #</th>
            <th scope="col">Type</th>
            <th scope="col">Price per night</th>
            <th scope="col">Bookings</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}">
            <td th:text="${room.number}"></td>
            <td th:text="${room.type}"></td>
            <td th:text="${room.pricePerNight}"></td>
            <td>
                <div th:switch="${roomBookingMap[room.id]}">
                    <a th:href="@{/unbook-room/{id}(id=${room.id})}" class="btn btn-warning btn-sm">
                        Unbook
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/hotels">Back to hotels</a>
</div>
</body>
</html>
